<% for(let product of products) { %>
    <article class="package-article">
        <a href="/products/detail/<%= product.id %>" style="text-decoration: none; color: #000;">
            <img class="article-img" src="/images/products/<%= product.image %> " alt="Imagen de producto"> 
        <div class="info-div">
            <div class="info-top">
                <div class="title-art">
                    <h4><%= product.departure %>  ---> <%= product.reach %></h4>
                </div>
                <div class="article-text">
                    <p><%= product.description %></p>
                </div>
            </div>
            
            <div class="info-bottom">
                <div class="add-cart-div">
                    <div class="precio-info">
                        <p>$<%= product.price %></p>
                    </div>
                    <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                </div>
            </div>
        </div> 
        </a>
    </article>
    <% } %>