<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <%- include('../partials/header') %> 

    <main class="main-detail">
        <section class="carousel_section">
            <div class="container">
                <div class="carousel">
                    <input type="radio" name="slides" checked="checked" id="slide-1">
                    <input type="radio" name="slides" id="slide-2">
                    <input type="radio" name="slides" id="slide-3">
                    <input type="radio" name="slides" id="slide-4">
                    <input type="radio" name="slides" id="slide-5">
                    <input type="radio" name="slides" id="slide-6">
                    <ul class="carousel__slides">
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundBeach.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundMountain.webp" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundSnow.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundBeach.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundMountain.webp" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundSnow.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                    </ul>
                    <ul class="carousel__thumbnails">
                        <li>
                            <label for="slide-1"><img src="/images/backgroundBeach.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-2"><img src="/images/backgroundMountain.webp" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-3"><img src="/images/backgroundSnow.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-4"><img src="/images/backgroundBeach.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-5"><img src="/images/backgroundMountain.webp" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-6"><img src="/images/backgroundSnow.jpg" alt=""></label>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="product_detail">
            <div class="div-classification">
                <label class="classification">Detalle ida</label>
            </div>
            <section class="detail">
                <div class="departure_time">
                    <label></label>
                    <label>9:00 </label>
                    <label>STG</label>
                </div>
                <div class="duration">
                    <label>Duracion</label>
                    <label>3 h 45 min</label>
                </div>
                <div class="time_of_arrival">
                    <label></label>
                    <label>19:20</label>
                    <label>LIM</label>
                </div>
            </section>
            <div class="final">
                <label class="final-detail">Vuelo de ida • 04 dic 2022</label>
            </div>
        </section>
        <section class="product_detail">
            <div class="div-classification">
                <label class="classification">Detalle de vuelta</label>
            </div>
            <section class="detail">
                <div class="departure_time">
                    <label></label>
                    <label>9:00 </label>
                    <label>LIM</label>
                </div>
                <div class="duration">
                    <label>Duracion</label>
                    <label>3 h 45 min</label>
                </div>
                <div class="time_of_arrival">
                    <label></label>
                    <label>19:20</label>
                    <label>STG</label>
                </div>
            </section>
            <div class="final">
                <label class="final-detail">Vuelo de vuelta • 10 dic 2022</label>
            </div>
        </section>


        <section class="product_detail">
            <div class="div-classification">
                <label class="classification">Detalle Hotel</label>
            </div>
            <section class="detail">
                <div class="price">
                    <label>hotel</label>
                    <label>CLP 91.865</label>
                </div>
            </section>
        </section>

        <section class="product_detail">
            <div class="div-classification">
                <label class="classification">Detalle servicios</label>
            </div>
            <section class="detail">
                <div class="price">
                    <label>auto</label>
                    <label>CLP 91.865</label>
                </div>
            </section>
        </section>
        
        <div class="action-buttons">
            <section id="product-editProduct-a">
                <a href="/products/<%= product.id %>/edit">Editar producto</a>    
            </section>
            <form class="product-editProduct-a-del" action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
            </form>
        </div>


    </main>

    <%- include('../partials/footer') %> 

</body>
</html>